    <div class="row">
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3" ><div>
				<div style="height:16em"></div>
				<div class="clearfix" style="text-align: center" >
					<h1> My account </h1>
					<!-- Password -->
					<div class="form-group" style="">
                        <a href="<%=new_user_session_path%>" > Login </a>
					</div>
                    <div class="form-group">
                        <a href="<%=new_user_registration_path%>"> Register new account </a> 
					</div>
				</div>
			</div>
        </div>
    </div>