
<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div>
					<form class="m-100" autocomplete="off">
						<div class="clearfix">
							<!-- Email -->
							<div class="form-group">
								<input type="text" name="email" class="form-control" placeholder="Identifiant/email" required="">
							</div>
							<!-- Password -->
							<div class="form-group">
								<input type="password" name="password" class="form-control" placeholder="Mot de passe" required="">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-6">
								<!-- Inform Tip -->                                        
								<div class="form-tip pt-20">
									<a class="no-text-decoration fs-13 mt-10 block" href="#">Mot de passe oublié?</a>
								</div>
							</div>
						</div>
						<div class="mt-30 text-center">
                        <div class="btn btn-primary">
                               
					</form>
				</div>
			</div>
		</div>
		
	</div>
</div>
	
<%= render :partial => 'layouts/footer' %>
