						<!-- GOOTER -->
			<footer id="footer" class="footer-fixed opacity-9">
				<div class="container mb-0 p-0 clearfix fs-12">

					<!-- Social Icons -->
					<div class="clearfix float-left mobile-block text-center">

						<a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/alexandra.derepentigny.3/posts/2816996885185747" class="social-icon social-icon-sm social-icon-border social-facebook float-left" data-toggle="tooltip" data-placement="top" title="Facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>

						<span class="float-left footer-links hidden-xs-down">
							<span><%= ENV['CONTACT_US_PHONE'] %></span>
							<a href="#">Contact</a>
							<a href="#">FAQ</a>
							<a href="#">Cart (0)</a> 
						</span>
					</div>
					<!-- /Social Icons -->
					
					<span class="hidden-xs-down fs-13 line-h-30 float-right">
						&copy; <script>
            					  var CurrentYear = new Date().getFullYear()
            					  document.write(CurrentYear)
        					   </script> <%= ENV["WEB_APP_NAME"] %>. All Rights Reserved.
					</span>
				</div>
			</footer>
	    <!-- /FOOTER -->